:root {
  --primary: #2563eb;
  --secondary: #1e40af;
  --light-mode-box-container: #fff;
  --light-mode-background: #f1f1f1;
  --dark-mode-box-container: #212131;
  --dark-mode-background: #000;
  --unsorted-state: #2563eb;
  --sorting-state: #fbbf24;
  --sorted-state: #22c55e;
}
